<div class="container">
  <div class="row">
<div class="row col-12">
  <h2 class="text-center col-12">Ajouter un nouveau poste</h2>
</div>
<div class="row col-12 mt-5">
  <form [formGroup]="NewPostForm" class="mx-auto" (submit)="AddNewPost()">
  <div class="form-group">
    <label for="titre">Titre</label>
    <input class="form-control" type="text" name="titre" formControlName="title">
  </div>
  <div class="form-group">
      <label for="poste">Votre poste</label>
      <textarea class="form-control" type="text" name="poste" cols="30" rows="10" formControlName="content"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Ajouter</button>
  </form>
</div>
</div>
</div>